body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f6f8;
    direction: rtl;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 400px;
    text-align: right;
}

.login-box h2 {
    margin-bottom: 12px;
    color: #0a1932;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    
}

.subtext {
    color: #5b626b;
    margin-bottom: 20px;
     font-family: 'Helvetica Neue', sans-serif;
     text-align: center;
}

label {
    display: block;
    margin: 10px 0 8px;
    color: #334155;
    font-size: 14px;
     font-family: 'Helvetica Neue', sans-serif;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
     font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.options a {
    color: #ea580c;
    margin-right: 250px;
    font-weight: bold;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ea580c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #c2410c;
}

.signup {
    margin-top: 20px;
    text-align: center;
    color: #475569;
    font-size: 14px;
}

.signup .create {
    color: #ea580c;
    text-decoration: none;
}
