body{
    margin: 0;
    font-family: 'CAIRO', sans-serif;
    }

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 4px;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 18px;
  cursor: pointer;
}

.navbar a {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  display: block;
  position: relative;
  transition: color 0.3s;
}

.navbar a:hover {
  color: blue;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0%;
  background: linear-gradient(to left, blue, #1249ff);
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}


.navbar img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  border-radius: 50%;
  object-fit: cover;
}


.container {
  display: flex;
  flex-direction: column;
margin-bottom: 20px;
  justify-content: center; 
  align-items: center; 
  height: 40vh;
  flex: 1;
  padding: 20px;
  background: linear-gradient(to right, #fa0c0c, #1249ff);
  text-align: center;
}

.container h1 {
  color: #fff;
  font-size: 38px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.container p {
  color: #6fedef;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.container button {
  background-color: #f09d17;
  font-family: 'Tajawal', sans-serif;
  color: #ffffff;
  padding: 15px 25px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.footer {
  margin-top: auto;
  padding: 14px;
  text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  color: white;
  background: linear-gradient(to right, #252020, #9c8cc4);
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
  color: cyan;
}
* {
  box-sizing: border-box
}
.image {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 430px;
  background-color: rgba(148, 153, 146, 0.3); 
  opacity: 1;
  margin-bottom: 50px;
  padding: 10px;
}

.MySlide {
  width: auto;
  max-width: 300px; 
  height: auto;
  margin-right: 10px;
}

.MySlide img {
  width: 100%;
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09); 
}